API_KEY : 997495318467396
APPLICATION_ID: a838481a-183b-11ef-a3eb-deade826d28d
APPLICATION_SECRET: 38647c221979f0a4152439bc259a354ada39a3ee5e6b4b0d3255bfef95601890afd80709
CLOUD_NAME: dlnjuxkjx
DB_CONNECTION_PROD: mongodb+srv://ephasteniyonizeye:KwjQ51WxlleV89oN@cluster0.zenmh0g.mongodb.net/StudentsLoan
EMAIL: ephasteniyonizeye@gmail.com
JWT_EXP: 2h
JWT_SECRET: ourexpressserverjsonwebephaste
NODE_ENV: development
PASSWORD: xxqr rply kjmu bgnf
SALT_ROUNDS: 10
DB_CONNECTION_DEV: mongodb://localhost:27017/StudentsLoan